body {
    background-color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
}

.bg-image{
    position: fixed;
    left: 0;
    right: 0;
    background-image: url('https://images.unsplash.com/photo-1499871435582-a1d4ff236842?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    filter: blur(10px);
    height:100%;    
    background-size: cover;
    z-index: -1;
}

svg {
    background-color: whitesmoke;
    box-shadow: 10px 10px black;
    padding-top:2vh;
    padding-left:2vh;
}

h1{
    font-size: 2.2vw;
    color:white;
    text-shadow: 2px 2px #000000;
}
p {
    color:white;
    text-shadow: 1px 1px 1px #000000;
    font-size:1vw;
}

text {
    font-size: 0.8vw;
}

#title {
    font-size: 1.3vw;
}

#legend,#dope {
    font-size: 1vw;
}

#gradient {
    --color-in: rgb(90, 89, 89);
    --color-mid:rgb(70, 68, 68);
    --color-out: rgb(7, 7, 7);
}

#tooltip{
    color:white;
    background-color: rgb(43, 43, 44);
    padding:5px;
    pointer-events: none;
}

.dot:hover {
    fill:gray;
}